@import "tailwindcss";

@plugin "flyonui";
@import "flyonui/variants.css";
@source "./node_modules/flyonui/flyonui.js";

@import "./styles/components.css";
@import "./styles/fonts.css";

/* Tailwind v4 design tokens */
@theme {
  /* FONT FAMILY */
  --font-ui: "Helvetica Now Display", system-ui, sans-serif;

  /* FONT SIZE (giver text-h1, text-h2, ...) */
  --text-h1: 1.5rem; /* 24px */
  --text-h2: 1.25rem; /* 20px */
  --text-h3: 1.125rem; /* 18px */
  --text-subtitle: 1rem; /* 16px */
  --text-body: 1rem; /* 16px */

  /* SEMANTIC COLORS */
  --color-text-default: #1e1e1e; /* var neutral-black */
  --color-text-inverse: #ffffff;
  --color-text-muted: #828282;
  --color-text-subtle: #ededed;
  --color-text-brand: var(--color-brand-primary);

  /* SURFACE / BACKGROUND */
  --color-bg-default: #ffffff;
  --color-bg-alt: #f7f6f6;
  --color-bg-muted: #ededed;
  --color-bg-inverse: #1e1e1e;

  /* BRAND */
  --color-brand-primary: #ffcf70;
  --color-brand-primary-hover: #E8BD69;
  --color-brand-primary-dark: #4d3f54;

  /* SECONDARY */
  --color-secondary-greyred: #575252;
  --color-secondary-cyanblue: #3f4d54;
  --color-secondary-blue: #3f4254;
  --color-secondary-pinkred: #543f40;
  --color-secondary-orange: #5d4c43;

  /* ACCENT */
  --color-accent-maroon: #800000;
  --color-accent-aquamarine: #40826d;

  /* SPACING SCALE (base unit: 1px = 0.0625rem) */
  --spacing: 0.0625rem;

  /* BORDER RADIUS */
  --radius-chip: 9999px;
  --radius-pill: 9999px;
  --radius-card: 24px;
  --radius-button: 16px;

  /* ICON SIZE */
  --spacing-icon: 1.25rem;
  --container-icon: 1.25rem;
}

/* Short semantic utilities */
@utility text-default {
  color: var(--color-text-default);
}
@utility text-inverse {
  color: var(--color-text-inverse);
}
@utility text-muted {
  color: var(--color-text-muted);
}
@utility text-subtle {
  color: var(--color-text-subtle);
}
@utility text-brand {
  color: var(--color-text-brand);
}

/* Background semantic utilities */
@utility bg-default {
    background-color: var(--color-bg-default);
}
@utility bg-alt {
  background-color: var(--color-bg-alt);
}
@utility bg-muted {
  background-color: var(--color-bg-muted);
}
@utility bg-inverse {
  background-color: var(--color-bg-inverse);
}
@utility bg-brand-primary {
  background-color: var(--color-brand-primary);
}
@utility bg-secondary-orange {
  background-color: var(--color-brand-primary-hover);
}
@utility bg-secondary-cyanblue {
  background-color: var(--color-secondary-cyanblue);
}
@utility bg-secondary-blue {
  background-color: var(--color-secondary-blue);
}


:root {
  --background: var(--color-bg-default);
  --foreground: var(--color-text-default);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-bg-inverse);
    --foreground: var(--color-text-inverse);
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  @apply font-ui;
}
