@import "tailwindcss";

@plugin "flyonui";
@import "flyonui/variants.css";
@source "./node_modules/flyonui/flyonui.js";

@import "./styles/components.css";
@import "./styles/fonts.css";

/* Tailwind v4 design tokens */
@theme {
    /* FONT FAMILY */
    --font-ui: "Helvetica Now Display", system-ui, sans-serif;

    /* FONT SIZE (giver text-h1, text-h2, ...) */
    --text-h1: 1.5rem; /* 24px */
    --text-h2: 1.25rem; /* 20px */
    --text-h3: 1.125rem; /* 18px */
    --text-subtitle: 1rem; /* 16px */
    --text-body: 1rem; /* 16px */

    /* COLORS -> giver fx bg-primary-crocus, text-neutral-black osv. */
    --color-primary-crocus: #ffcf70;
    --color-primary-blackberry: #4d3f54;

    --color-neutral-black: #1e1e1e;
    --color-neutral-white: #ffffff;
    --color-neutral-light: #f7f6f6;
    --color-neutral-grey: #555555;
    --color-neutral-glacier: #ededed;

    --color-secondary-darkgreyred: #575252;
    --color-secondary-darkcyanblue: #3f4d54;
    --color-secondary-darkblue: #3f4254;
    --color-secondary-darkpinkred: #543f40;
    --color-secondary-darkorange: #5d4c43;

    --color-accent-maroon: #800000;
    --color-accent-aquamarine: #40826d;

    /* SPACING SCALE (base unit: 1px = 0.0625rem) */
    --spacing: 0.0625rem;

    /* BORDER RADIUS */
    --radius-chip: 9999px;
    --radius-pill: 9999px;
    --radius-card: 24px;
    --radius-button: 16px;

    /* ICON SIZE */
    --spacing-icon: 1.25rem;
    --container-icon: 1.25rem;
}

:root {
    --background: var(--color-neutral-white);
    --foreground: var(--color-neutral-black);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: var(--color-neutral-black);
        --foreground: var(--color-neutral-white);
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    @apply font-ui;
}
