@import "tailwindcss";

@plugin "flyonui";
@import "flyonui/variants.css";
@source "./node_modules/flyonui/flyonui.js";

@import "./styles/responsive.css";

/* Tailwind v4 design tokens */
@theme {
  /* FONT FAMILY */
  --font-ui: "Helvetica Now Display", system-ui, sans-serif;

  /* FONT SIZE  */
  --text-h1: 1.5rem; /* 24px */
  --text-h2: 1.25rem; /* 20px */
  --text-h3: 1.125rem; /* 18px */
  --text-subtitle: 1rem; /* 16px */
  --text-body: clamp(1rem, 2vw + .5rem, 1.3rem); /* 16px - 24px */
  --text-body-lg: 1.25rem; /* 20px */

  /* SEMANTIC COLORS */
  --color-text-default: rgb(30, 30, 30); /* var neutral-black */
  --color-text-inverse: rgb(255, 255, 255);
  --color-text-muted: rgba(130, 130, 130);
  --color-text-subtle: rgb(237, 237, 237);
  --color-text-brand: var(--color-brand-primary);

  /* SURFACE / BACKGROUND */
  --color-bg-default: rgb(255, 255, 255);
  --color-bg-alt: rgb(247, 246, 246);
  --color-bg-muted: rgb(237, 237, 237);
  --color-bg-inverse: rgb(30, 30, 30);

  /* BRAND */
  --color-brand-primary: rgb(255, 207, 112);
  --color-brand-primary-hover: rgba(232, 189, 105);
  --color-brand-primary-dark: rgb(77, 63, 84);

  /* SECONDARY */
  --color-secondary-greyred: #575252;
  --color-secondary-cyanblue: #3f4d54;
  --color-secondary-blue: #3f4254;
  --color-secondary-pinkred: #543f40;
  --color-secondary-orange: #5d4c43;

  /* ACCENT */
  --color-accent-maroon: #800000;
  --color-accent-aquamarine: #40826d;

  /* SPACING SCALE (base unit: 1px = 0.0625rem) */
  --spacing: 0.0625rem;

  /* BORDER RADIUS */
  --radius-chip: 9999px;
  --radius-pill: 9999px;
  --radius-card: 24px;
  --radius-button: 16px;

  /* ICON SIZE */
  --spacing-icon: 1.25rem;
  --container-icon: 1.25rem;

  /* MOBILE BUTTON SIZES (based on priority) */
  --size-button-low: 42px;
  --size-button-medium: 60px;
  --size-button-high: 72px;

  /* MOBILE BUTTON SPACING (center-to-center distance) */
  --spacing-button-low: 36px;
  --spacing-button-medium: 24px;
  --spacing-button-high: 12px;
}

.lucide {
  color: inherit;
  width: inherit;
  height: inherit;
  stroke-width: inherit;
}

/* Short semantic utilities */
/* Text color semantic utilities */
@utility text-default {
  color: var(--color-text-default);
}
@utility text-inverse {
  color: var(--color-text-inverse);
}
@utility text-muted {
  color: var(--color-text-muted);
}
@utility text-subtle {
  color: var(--color-text-subtle);
}
@utility text-brand {
  color: var(--color-text-brand);
}
@utility font-ui {
  font-family: var(--font-ui);
}

/* Text size utilities */
@utility text-h1 {
  font-family: var(--font-ui);
  font-size: var(--text-h1);
  font-weight: 600;
}
@utility text-h2 {
  font-family: var(--font-ui);
  font-size: var(--text-h2);
}
@utility text-h3 {
  font-family: var(--font-ui);
  font-size: var(--text-h3);
}
@utility text-subtitle {
  font-family: var(--font-ui);
  font-size: var(--text-subtitle);
}
@utility text-body {
  font-family: var(--font-ui);
  font-size: var(--text-body-lg);
}

/* Background semantic utilities */
@utility bg-default {
  background-color: var(--color-bg-default);
}
@utility bg-alt {
  background-color: var(--color-bg-alt);
}
@utility bg-muted {
  background-color: var(--color-bg-muted);
}
@utility bg-inverse {
  background-color: var(--color-bg-inverse);
}
@utility bg-brand-primary {
  background-color: var(--color-brand-primary);
}
@utility bg-secondary-orange {
  background-color: var(--color-secondary-orange);
}
@utility bg-secondary-cyanblue {
  background-color: var(--color-secondary-cyanblue);
}
@utility bg-secondary-blue {
  background-color: var(--color-secondary-blue);
}

/* Border semantic utilities */
@utility border-brand {
  border: 1px solid var(--color-brand-primary);
}
@utility border-muted{
  border: 1px solid --alpha(var(--color-text-muted) / 20%);
}
@utility ring-brand {
  box-shadow: 0 0 0 3px var(--color-brand-primary);
}

/* Button size utilities */
@utility btn-size-low {
  width: var(--size-button-low);
  height: var(--size-button-low);
}
@utility btn-size-medium {
  width: var(--size-button-medium);
  height: var(--size-button-medium);
}
@utility btn-size-high {
  width: var(--size-button-high);
  height: var(--size-button-high);
}

@utility btn-spc-low {
  padding-block: calc(var(--spacing-button-low) - 2px) !important;
  padding-inline: var(--spacing-button-low) !important;
}
@utility btn-spc-medium {
  padding-block: calc(var(--spacing-button-medium) - 2px) !important;
  padding-inline: var(--spacing-button-medium) !important;
}
@utility btn-spc-high {
  padding-block: calc(var(--spacing-button-high) - 2px) !important;
  padding-inline: var(--spacing-button-high) !important;
}

@utility rounded-tabs {
  border-radius: 45px 45px 0 0;  
}

@utility input-color {
  background-color: var(--color-bg-alt);
  color: var(--color-text-default);
  border: 1px solid var(--color-text-muted);  
}

@utility input-checkbox {
  background-color: var(--color-brand-primary);
  border: 1px solid var(--color-text-muted);  
}


:root {
  --background: var(--color-bg-muted);
  --foreground: var(--color-text-default);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-bg-inverse);
    --foreground: var(--color-text-inverse);
  }
} */

/*Styles for page layout*/
  .trvm-page {
    @apply flex flex-col justify-center items-center xl:flex-row h-full w-full gap-8 p-32;
  }


main {
  background: var(--background);
  color: var(--foreground);
  transition: all 300ms ease-in-out;
  overflow-x: hidden;
  display:flex;
  flex-direction: column;
}

html,
body,
#__next,
main {
  width: 100%;
  height: 100%;
}
