@layer components {
  /* -------------------------------
     BUTTONS
  -------------------------------- */
  .trvm-btn {
    @apply flex items-center justify-center gap-8 rounded-full
           font-normal font-ui text-body
           transition-colors duration-150
           cursor-pointer w-full md:max-w-md xl:max-w-xl;
  }

  .btn-primary {
    @apply bg-brand-primary color-default hover:bg-brand-primary-hover border-brand-dark border;
  }
  .btn-secondary {
    @apply bg-default border-muted color-default hover:bg-brand-primary-hover focus:bg-brand-primary-hover;
  }

.trvm-btn-icon.btn-ghost, .btn-ghost {
    @apply bg-transparent color-subtle hover:bg-base-200;
  }

  /* Icon-only buttons */
  .trvm-btn-icon {
    @apply flex btn-circle color-inverse items-center justify-center max-w-48 bg-secondary-cyanblue hover:bg-secondary-blue;
  }


  .btn-icon--high {
    @apply btn-size-high;
  }
  .btn-icon--medium {
    @apply btn-size-medium;
  }
  .btn-icon--low {
    @apply btn-size-low;
  }



  /* NOTE - Will return to at later point
@utility btn-primary {
  @apply bg-brand-primary border-muted color-default hover:bg-brand-primary-hover;
}

@utility btn-secondary {
  @apply bg-default border-muted color-default hover:bg-brand-primary-hover/50 hover:color-default;
}*/

  /* -------------------------------
     INTERACTIVE ELEMENTS (toggles)
  -------------------------------- */
  .toggle {
    @apply inline-flex items-center justify-between w-40 h-20 bg-muted rounded-pill p-2;
  }

  .toggle-dot {
    @apply w-16 h-16 bg-default rounded-full shadow;
  }
}

.btn-row-mobile {
  column-gap: var(--spacing-button-medium);
}

.trvm-dropdown-btn .list-item {
  @apply px-8 text-body;
}

@media (max-width: 768px) {
  .btn-row-mobile--dense {
    column-gap: var(--spacing-button-high);
  }
  .btn-row-mobile--loose {
    column-gap: var(--spacing-button-low);
  }
}
